<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.breezefaith.dao.IAddressDao">
    <resultMap id="addressMap" type="cn.breezefaith.entity.Address">
        <id javaType="java.lang.Integer" column="aid" property="aid"/>
        <result javaType="java.lang.Integer" column="uid" property="uid"/>
        <result javaType="java.lang.String" column="post_code" property="postCode"/>
        <result javaType="java.lang.String" column="phone" property="phone"/>
        <result javaType="java.lang.String" column="address" property="address"/>
    </resultMap>

    <select id="findByAid" resultMap="addressMap">
        SELECT aid,uid,name,phone,post_code,address FROM address WHERE aid=#{aid}
    </select>
    <select id="findByUid" resultMap="addressMap">
        SELECT aid,uid,name,phone,post_code,address FROM address WHERE uid=#{uid}
    </select>
    <delete id="deleteByAid">
        DELETE FROM address
        WHERE aid=#{aid}
    </delete>
    <insert id="addAddress">
        INSERT INTO address(uid,name,phone,post_code,address)
        VALUES (#{uid},#{name},#{phone},#{post_code},#{address})
    </insert>

    <update id="updateAddress">
        UPDATE address
        SET
        name=#{name},phone=#{phone},post_code=#{post_code},address=#{address}
        WHERE
        aid=#{aid}
    </update>
</mapper>